<h1> mostrando </h1>
<p>
name: <%= @todo.name %>
</p>
<p>
descripcion: <%= @todo.description %>
</p>
<%= link_to "Editar", edit_todo_path(@todo) %> |
<%= link_to "Ir al inicio", todos_path(@todo) %>